@font-face {
    font-family: "Quicksand";
    src: url("../fonts/QuicksandBook.otf");
}

a {
    text-decoration: none;
}
@media screen and (max-width: 1000px) {
    body {
        background: #EFEFEF;
        margin: 0;
        padding: 0;
        font-family: "Quicksand";
        font-size: 1rem;
        height: 100vh;
    }

    /* CONNEXION, INSCRIPTION & MDP OUBLIE */
    .degrade-bck-1 {

        background-image: url('../img/degrade1.png');
        position: absolute;
        right: 0;
        top: 0;
        width: 100vw;
        height: 50vh;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .degrade-bck-2 {

        background-image: url('../img/degrade2.png');
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 25vh;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .content {

        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        height: 100vh;
        width: 70vw;
        margin: auto;
    }

    .logo {

        background-image: url('../img/logo.svg');
        width: 45vw;
        height: 5vh;
        background-size: contain;
        background-repeat: no-repeat;
        animation-duration: 1s;
        animation-name: slidein;

    }

    @keyframes slidein {

        from {
            transform: translateX(-100vh);
            opacity:0;
        }


        to {
            transform: translateX(0vh);
            opacity:1;
        }
    }

    @keyframes slidein2 {

        from {
            transform: translateX(100vh);
            opacity:0;
        }


        to {
            transform: translateX(0vh);
            opacity:1;
        }
    }

    .register {

        color: black;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-left: 1vw;
        animation-duration: 1s;
        animation-name: slidein;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
        opacity: 0;


    }

    .input-text {

        background: #D1D1CD;
        border-radius: 1rem;
        color: #5B5B5A;
        text-transform: uppercase;
        width: 55vw;
        outline: none;
        border: none;
        font-size: 0.7rem;
        font-family: "Quicksand";
        padding: 0.5rem;
        padding-left: 3rem;
        margin-top: 1vh;
        height: 2vh;
        animation-name: opacity;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
        opacity: 0;
    }

    @keyframes opacity {

        from {
            opacity:0;
        }


        to {
            opacity:1;
        }
    }

    .input-submit {

        background-image: linear-gradient(to right, #F8F2A5, #F18999);
        border-radius: 1rem;
        color: white;
        text-transform: uppercase;
        width: 70vw;
        outline: none;
        border: none;
        font-size: 0.8rem;
        font-family: "Quicksand";

        margin-top: 2vh;
        height: 4vh;
        text-align: center;
        animation-name: slidein2;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
        opacity: 0;
    }

    .msg {

        color: #5B5B5A;
        margin-top: 1vh;
        font-size: 0.8rem;
        animation-name: opacity;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
        opacity: 0;

    }

    .msg2 {
        font-size: 1rem;
        margin-top: 3vh;
        animation-name: opacity;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
        opacity: 0;
    }
    .my_checkbox {
        margin-bottom: 2vh;
        animation-name: opacity;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
        opacity: 0;
    }

    input[type='checkbox'] {
        border: none;
        border-radius: 0.5rem;
        outline: none;

    }

    .lien {
        color: black;
        font-weight: bold;
    }

    .top {
        margin-top: 2vh;
    }


    /* PAGE D'ACCUEIL */

    .logo-home {

        background-image: url('../img/logo.svg');
        width: 45vw;
        height: 5vh;
        background-size: contain;
        background-repeat: no-repeat;
        animation-duration: 1s;
        animation-name: movebottom;
        animation-fill-mode: forwards;
        
        margin: auto;
        opacity: 0;

    }

    @keyframes movebottom {

        from {
            transform: translateY(-100vh);
            opacity:0;
        }


        to {
            transform: translateY(0vh);
            opacity:1;
        }
    }

    .flex {
        display: flex;
        position: relative;
        top: 1vh;
    }

    .logout {
        width: 5vw;
    }

    .home-bck {
        background-image: url(../img/bck_home.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 90vh;
        position: absolute;
        bottom: 0;
    }

    .menu {
        background: #EFEFEF;
        width: 100vw;
        height: 7vh;
        position: absolute;
        bottom: 0;
        z-index: 5;
        display: flex;
        align-items: center;
    }

    .home {
        background-image: url(../img/home.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 50vw;
        height: 2.5rem;
    }
    
    .settings {
        background-image: url(../img/settings.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 50vw;
        height: 2.5rem;
    }
    .quote {
        color: white;
        font-size: 0.8rem;
        position: relative;
        margin-top: 13vh;
        margin-left: 10vw;
        width: 65vw;
    }
    
    .logout {
        background-image: url(../img/logout.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 2vw;
    }

    /* CALENDRIER */
   
.calendar-grid {
  margin:1em auto;
  width:60%;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 3em 2em;
  grid-auto-rows: 1fr;
    position: relative;
    top: 12vh;
    z-index:6;
}

.calendar-day {
  padding:.4em;
    width: 50%;
    height:60%;
  background: #E8E8E8;
}

.current-day {
  background:lightskyblue;
}

.first-day {
  grid-column-start: 4;
}

.calendar-dayname {
  padding:.3em;
  text-align:center;
  color: black;
  font-weight: bold;
}

.calendar-title {
  text-align:center;
  grid-column: 2 / -2;
  font-size: 1.3em;
  display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.calendar-nav a {
     background-image: url(../img/arrow.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
  display:block;
  width:100%;
  height:100%;
  font-size: 2em;
  cursor: pointer;
    
}

    .left {
        transform: rotate(180deg);
    }
.calendar-nav__right {
  text-align: right;
}
/*  FIN CALENDRIER */
}
